# Discord Application Credentials
# Consigue estos en https://discord.com/developers/applications
DISCORD_CLIENT_ID=TU_CLIENT_ID_AQUI
DISCORD_CLIENT_SECRET=TU_CLIENT_SECRET_AQUI

# Robo.js Settings
PORT=3000
ROBO_SYNC_DEBUG=false
